@model aspnet.Home

@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>home</title>
</head>

<body style="text-align: center;">

    @Html.DisplayFor(model => model.Message)

</body>

</html>
